.header {
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 10px rgba(77, 77, 77, 0.2);
  z-index: 999;
}

header nav ul li {
  line-height: 80px;
  border: 2px solid rgba(0, 0, 0, 0);
}

header nav ul li:hover {
  border-bottom: 2px solid black;
}

.header nav ul li a {
  text-decoration: none;
}

.header-left {   /*HEADER LEFT GENERIC*/
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-left img {
  width: 150px;
}

.header-left nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 23px;
}


.header-right {   /*HEADER RIGHT GENERIC */
  min-height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
} 

.header-right nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 23px;
}

/* START SUPPORT DROPDOWN */

.header-right nav ul li:first-child {
  position: relative;
}

.support-dropdown {
  width: 250px;
  height: 1px;
  position: absolute;
  top: 82px;
  left: -5px;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: .5;
  overflow: hidden;
}

.header-right nav ul li:first-child:hover .support-dropdown {
  height: 200%;
  opacity: 1;
  transition-duration: .5s;
  top: 82px;
  left: -5px;
}

.support-dropdown li {
  width: 100%;
  line-height: 3.5rem;
}

.support-dropdown li:hover {
  background-color: rgb(240, 240, 240);
  border: none;
}

/* END SUPPORT DROPDOWN */
