/* ---START JUMBOTRONE--- */

.jumbotrone {
  background-color: var(--azure-background);
  min-height: 750px;
  max-height: 850px;
}

.content {
  display: flex;
}

.content-left {
  width: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-left p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 25px;
}

.content-left i:last-of-type {
  font-size: 3rem;
  margin-top: 20px;
}

.content-right {
  min-width: 70%;
  max-width: 70%;
}

.jumbotrone .content-right > img {
  width: 100%;
}

/* ---END JUMBOTRONE--- */