/* START SECTION CHOOSE YOUR PLAN  */

section.choose-your-plan {
  position: relative;
}

.payment-methods {
  margin: 50px 0;
}

.payment-methods .fake-radio-input {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 100%;
  border: 4px solid var(--btn-background);
}

.fake-radio-input:last-of-type{
  margin-left: 20px;
  border: 1px solid grey;
}

.payment-methods span {
font-size: 1.2rem;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.plan-card {
  min-height: 1000px;
  width: 30%;
  max-width: 30%;
  border: 1px solid grey;
}

.plan-card.orizzontal {
  min-height: 250px;
  width: 100%;
  max-width: 100%;
  border: 1px solid grey;
  position: relative;
}

.plan-type {
  border-bottom: 1px solid grey;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-card ol li {
  list-style: none;
  display: flex;
}

.plan-card ul li {
  list-style: none;
  display: flex;
  padding: 15px 0;
}

.plan-card li i {
  padding-right: 10px;
}

.plan-description  li:last-child  {
  margin-top: 10px;
  color: rgb(115, 129, 142);
}

.plan-card span a:only-child {
  color: var(--link-color);
}

.plan-highlights li i {
  color: var(--check-color);
  font-size: 1.5rem;
}

.plan-highlights ul {
  padding-bottom: 100px;
}

.plan-description.orizzontal {
  position: relative;
}

.plan-description.orizzontal a {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* END SECTION CHOOSE YOUR PLAN  */

/* START SECTION FIND YOUR PARTNER */

.find-your-partner .container-70 {
  display: flex;
}

.find-your-partner .content-left {
  min-width: 55%;
}

.find-your-partner .content-left img {
  width: 90%;
  aspect-ratio: auto;
}

.find-your-partner .content-right {
  min-width: 45%;
  max-width: 45%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.find-your-partner .content-right p {
  font-size: 1.2rem;
}

.find-your-partner .content-right a:hover  {
  background-color: lightgray;
}

/* END SECTION FIND YOUR PARTNER */

/* START SECTION DROPBOX BUSINESS */

section.dropbox-business {
  position: relative;
}

.dropbox-business .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.dropbox-business .card {
  max-height: 5800px;
  min-height: 500px;
  max-width: calc(100% / 3);
  padding: 20px 50px;
  margin-bottom: 20px;
  position: relative;
}

.dropbox-business .container-image {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.container-image img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.container-image:hover img {
  animation-name: spin-zoom ;
  transition-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes spin-zoom {
  0% {
    width: 50%;
    transform: rotate(0deg);
  }
  100%{
    width: 100%;
    transform: rotate(360deg);
  }
}


/* END SECTION DROPBOX BUSINESS */

/* START SECTION OUR CUSTOMERS */

.our-customers {
  padding-top: 80px;
}

.our-customers .container-70 a {
  color: var(--link-color);
  font-size: 1.3rem;
  display: inline-block;
}

.customers-section {
  width: 100%;
  display: flex;
  
  max-width: 2000px;
  margin: 0 auto;
  border: 5px solid royalblue;
}

.container-logos {
  width: 30%;
  height: 100%; 
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}

.square-logo {
  width: 50%;
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-logo img {
  width: 80%;
  object-fit: cover;
  padding: 20px;
}

.container-description {
  max-height: fit-content;
  overflow-y: scroll;
  background-color: rgb(245, 245, 245);
  flex-shrink: 2;
}

.container-description > img {
  width: 150px;
  padding-top: 20px;
}

/* START COLOR CUSTOMERS LOGO */

.square-logo img {
  filter: invert(100%)
}

.container-logos.left div:nth-of-type(1) {
  background-color: var(--designit);
}

.container-logos.left div:nth-of-type(2) {
  background-color: var(--asu);
}

.container-logos.left div:nth-of-type(3) {
  background-color: var(--florida);
}

.container-logos.left div:nth-of-type(4) {
  background-color: var(--topps);
}

.container-logos.right div:nth-of-type(1) {
  background-color: var(--bicycle);
}

.container-logos.right div:nth-of-type(2) {
  background-color: var(--hearst);
}

.container-logos.right div:nth-of-type(3) {
  background-color: var(--lonelyplanet);
}

.container-logos.right div:nth-of-type(4) {
  background-color: var(--clearchannel);
}

/* END COLOR CUSTOMERS LOGO */

/* START :active COLOR ON CUSTOMERS LOGO */

.container-logos div:active {
  border: 15px solid rgba(255, 255, 255, 0.5);
  transition-duration: .5s;
  cursor: pointer; 
}

.container-logos div:active img {
  width: 200px;
  transition: 1s;
}

/* END :hover COLOR ON CUSTOMERS LOGO */



.start-free-trial {
  height: 400px;
  max-width: 2000px;
  margin: 0 auto;
  background-color: var(--azure-background);
}

.start-free-trial .container-70 {
  position: relative;
  padding: 150px 0px;
}

.start-free-trial .container-70 .btn-white {
  color: black;
  border: none;
  position: absolute;
  right: 0;
  top: 170px;
  border-radius: 10px;
}

.start-free-trial .btn-white:hover {
  position: absolute;
  top: 170px;
  right: -150px;
  font-size: 2.5rem;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgb(97, 8, 43);
  color: white;
  transition-duration: 1s;
  text-transform: uppercase;
}

.start-free-trial h2 {
  color: rgb(97, 8, 43);
}


/* END SECTION OUR CUSTOMERS*/

/* START SECTION QUESTIONS & ANSWERS*/

section.questions-and-answers {
  position: relative;
  margin-bottom: 100px;
}

.question {
  position: relative;
  justify-content: space-between;
  border-top: 1px solid grey;
}

.container-70 .question:last-child {
border-bottom: 1px solid grey;
}

.question span {
  line-height: 90px;
  font-size: 1.2rem;
  font-weight: 700;
}

.question i {
  position: absolute;
  right: 0;
  top: 40px
}

.question i:hover {
  cursor: pointer;
}

.question p {
  opacity: 0;
  position: absolute;
  font-size: 1rem;
  padding-bottom: 10px;
  text-align: justify;
  color: rgb(160, 160, 160);
}

.question:hover p {
  opacity: 1;
  position: relative;
  transition-duration: 0.5s;
}



/* END SECTION QUESTIONS & ANSWERS*/




