/* START SECTION CHOOSE YOUR PLAN  */

.choose-your-plan {
    border: 5px solid black;
}

.payment-methods {
  margin-bottom: 50px;
}

.plans {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.plan-card {
  min-height: 1000px;
  width: 30%;
  max-width: 30%;
  background-color: antiquewhite;
  border: 1px solid grey;
}

.plan-card-orizzontal {
  min-height: 250px;
  width: 100%;
  max-width: 100%;
  background-color: antiquewhite;
  border: 1px solid grey;
}

.plan-type {
  border-bottom: 1px solid grey;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END SECTION CHOOSE YOUR PLAN  */

/* START SECTION FIND YOUR PARTNER */

.find-your-partner {
  border: 5px solid brown;
}

.find-your-partner .container-70 {
  display: flex;
  gap: 40px;
}

.find-your-partner .content-left {
  min-width: 50%;
}

.find-your-partner .content-left img {
  height: 100%;
  object-fit: cover;
}

.find-your-partner .content-right {
  min-width: 50%;
  max-width: 50%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.find-your-partner .content-right p {
  font-size: 1.2rem;
}
.find-your-partner .content-right a:hover  {
  background-color: lightgray;
}

/* END SECTION FIND YOUR PARTNER */

/* START SECTION DROPBOX BUSINESS */

.dropbox-business {
  border: 5px solid blue;
}

.dropbox-business .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.dropbox-business .card {
  max-height: 5800px;
  min-height: 500px;
  max-width: calc(100% / 3);
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 20px;
}

.card > img{
  object-fit: cover;
  padding: 20px;
}

.card p {
  font-size: 1.2rem;
}

/* END SECTION DROPBOX BUSINESS */

/* START SECTION OUR CUSTOMERS */

.our-customers {
  border: 5px solid rgb(3, 162, 0);
}

.our-customers .container-70 a {
  color: var(--link-color);
  font-size: 1.3rem;
}

.customers-section {
  background-color: rgb(255, 145, 0);
  min-height: 700px;
  display: flex;
}

.container-logos {
  width: 30%;
  background-color: rgb(0, 59, 115);
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.customer-logo {
  width: calc(100% / 2);
  height: 50%;
  background-color: antiquewhite;
  border: 1px solid black;
}

.container-description {
  background-color: rgb(245, 245, 245);
  min-height: 700px;
  flex-grow: 2;
}

.start-free-trial {
  height: 400px;
  background-color: var(--azure-background);
}

.start-free-trial .container-70 {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding: 150px 0px;
}

.start-free-trial .container-70 a {
  color: black;
  border: none;
}

.start-free-trial h2 {
  color: rgb(97, 8, 43);
}


/* END SECTION OUR CUSTOMERS*/
/* START SECTION QUESTIONS & ANSWERS*/

.question {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  border-top: 1px solid grey;
  line-height: 100px;
}

.container-70 .question:last-child {
border-bottom: 1px solid grey;
}

/* END SECTION QUESTIONS & ANSWERS*/




