:root {
  --azure-background :rgb(180, 208, 231);
  --btn-background :rgb(4, 99, 255);
  --btn-background-active :rgb(0, 162, 255);
  --link-color  :rgb(4, 99, 255);
  --check-color :rgb(4, 99, 255);
  --debug: rgb(255, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

a {
  color: black;
}

a.btn-blue {
  background-color: var(--btn-background);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

a.btn-white {
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
}


/* ---START TITLE STYLE--- */

h2 {
  font-size: 3.3rem;
  margin-bottom: 50px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* ---END TITLE STYLE--- */