:root {
  --azure-background :rgb(180, 208, 231);
  --btn-background :rgb(4, 99, 255);
  --btn-background-active :rgb(0, 162, 255);
  --link-color  :rgb(4, 99, 255);
  --check-color :rgb(4, 99, 255);
  --debug: rgb(255, 255, 0);
  --designit :rgb(162, 211, 155) ;
  --asu:rgb(97, 8, 43);
  --florida :rgb(0, 147, 206) ;
  --topps: rgb(255, 28, 28) ;
  --bicycle: rgb(213, 0, 31);
  --hearst:rgb(180, 208, 231) ;
  --lonelyplanet :rgb(13, 36, 129) ;
  --clearchannel :rgb(255, 216, 48) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

a {
  color: black;
}

/* START BUTTON STYLE */

a.btn-blue {
  background-color: var(--btn-background);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.btn-blue:hover {
  cursor: pointer;
  background-color: var(--btn-background-active)
}

a.btn-blue-long {
  background-color: var(--btn-background);
  padding: 10px 50px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

a.btn-blue-long:hover {
  background-color: var(--btn-background-active);
}


a.btn-white {
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
}

/* END BUTTON STYLE */

/* ---START TITLE STYLE--- */

h1 {
  font-size: 5.5rem;
  margin-bottom: 50px;
}

h2 {
  font-size: 3.3rem;
  margin-bottom: 50px 0;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/* ---END TITLE STYLE--- */