
/*START PADDING ASSE X */

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}
/*END PADDING ASSE X */
/*START PADDING ASSE Y */

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* END PADDING ASSE Y */
/* ---START MARGIN ASSE Y--- */

.mrg-x30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mrg-y30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mrg-y80 {
  margin-top: 80px;
  margin-bottom: 80px;
}



/* ---END MARGIN ASSE Y--- */

/* START CONTAINER TYPE */

.container-85 {
  width: 85%;
  max-width: 2000px;
  min-height: 300px;
  margin: 0 auto;
}

.container-70 {
width: 70%;
max-width: 2000px;
min-height: 300px;
margin: 0 auto;
}

/* END CONTAINER TYPE */

/* START LINE STYLE */

.line-0 {
  border: 1px solid lightgray;
  max-width: 50px;
  margin-bottom: 50px;
}


.line-1 {
  border: 1px solid grey;
  max-width: 150px;
  margin-bottom: 50px;
}




/* END LINE STYLE */